html,
body {
    font-family: 'Jost', sans-serif;
    line-height: 1.2em !important;
    /* font-weight: 400 !important; */
    letter-spacing: 1px;
    background-image: url('../icons/logo.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
}

.logo-main {
    height: 250px;
}

.center {
    display: grid;
    place-items: center;
    height: 100vh;
}

section {
    margin: auto;
    text-align: center;
}

.carousel-container {
    width: 500px;
}

.carousel {
    height: 600px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lightgray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: lightslategray;
}

button {
    font-family: 'Roboto', sans-serif !important;
    font-size: small !important;
    color: #767676 !important;
}

.btn-simple {
    border: 1px solid #d1d1d1 !important;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: white;
    transition: background-color .1s ease-in-out;
}

.btn-simple:hover {
    background-color: #f5f5f5 !important;
}

.btn-simple:focus {
    background-color: #f5f5f5 !important;
}

.btn-simple:active {
    background-color: #f5f5f5 !important;
}